html, body {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#pageContainer {
    width: 100%; /* spans the entire page */
    overflow: hidden;
    background-color: #ffffff; /*and  keeps background white */

}

aside {
    /* float: left; */
    background-color: #333333;
    width: 20%;
    height: 100%;
    min-height: 200px;
    max-width: 300px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;

    /* New code */



}
#directoryIcon {
    width: 32px;
    height: auto;
    margin: 80% 0 0 40%;
}

li {
    padding-right: 8px;
}

.alwaysPresent,
.optional {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding-top: 12px;
    margin-left: 45px;
    text-align: left;
    font-weight: bold;
    letter-spacing: 3px;
    color: #e5e5e5;
    background-color: #333333;



}

#inputArea {
    width: 79%;
    height: 100%;
    margin-top: 12px;
    margin-left: 21%;
}

.input {
    width: 29%;
    height: 32px;
    padding-left: 4px;
    font-size: 18px;
    vertical-align: middle;
}

#addSign,
#magGlass,
#verifyMagGlass,
#updateIcon,
#deleteIcon {
    height: 38px;
    width: auto;
    vertical-align: middle;
}
#addSign,
#updateIcon,
#deleteIcon {
    box-sizing: border-box;
    border: solid 1px #333333;
}
#viewList {
    padding-bottom: 15px;
}
div#viewList h2,
div#viewList h3 {  /*  */
    margin-left: 21%;
    margin-top: 10px;
    padding: 8px;
    width: 47%;
}

div#viewList div {  /* puts a box around each employee listing */
    margin-left: 21%;
    margin-top: 10px;
    border: solid 1px #999999;
    padding: 8px;
    width: 47%;
    box-sizing: border-box;
}
